::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 191, 0);
    width: 20px;
}

#topSection {
    background-image: linear-gradient(to right bottom, #002029ff, #00303dff, #004052ff, #005066ff, #00607aff);
}

#maincontainer {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to right top, #002029ff, #00303dff, #004052ff, #005066ff, #00607aff);

}

.card {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
}

.card:hover {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.566);
}

@media (max-width: 990px) {
    .card {
        width: 340px;
    }
}